/* Aufgabe: Aufgabe 3
   Name: Alexandru Mihai
   Matrikel: 261195
   Datum: 27.10.2019 */



html {
    background-color: #3d0617;
    font-family: 'Abril Fatface', cursive;
    color: #dec7b2;
}


h1 {
    color: #3d0617;
    background-color: #dec7b2;
    text-align: center;
    font-size: 4rem;
    border: 0.5px solid #dec7b2 ;
}


.rueckseite{
    width: 160px;
    height: 224px;
    margin: 0px;
}

#nachziehStapel {
    width: 160px;
    height: 224px;
    margin-bottom: 50px;
}


.rot{
    color: firebrick;
}

.schwarz{
    color: black;
}


.StylingKarten{
    border: #dec7b2 solid 1px;
    width: 160px;
    height: 224px;
    margin: 25px;
    font-weight: bold;
    font-size: 4rem;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}


.StylingKarten * {
    pointer-events: none;
}






