.CardBorder{
    border: black solid 3px;
    width: 160px;
    height: 224px;
    margin: 25px;
    font-weight: bold;
    font-size: 5rem;
    display: inline-block;
    text-align: center;
}

.Red{
    color: red;
}

.Black{
    color: black;
}

.Symbol{
    height: 40px;
    margin: 25px 25px 0px 25px;
}

.CardBack{
    width: 160px;
    height: 224px;
    margin: 0px;
}

#Pile {
    margin-bottom: 70px;
}